.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
button{
    font-size: 16px;
    border:1px solid #aaa;
    background-color: transparent;
    padding: 10px;
}
button[type=submit]{
    margin:8px 0;
    padding: 4px 6px;
    background-color: lightgoldenrodyellow;
}
.login{
     position:fixed;
     top:50%;
     left:50%;
     width:400px;
     background-color: #dddddd;
     transform: translate(-50%,-50%);
     display:flex;
     justify-content: center;
     align-items: center;
 }
.login>form{
    width:100%;
    position:relative;
    margin:15px;
    border:1px solid #aaa;
    padding:15px;
}
.login .title{
    display:flex;
    align-items: flex-end;
}
.login .title>span{
    color:#666;
    margin-left: 10px;
}
.closeBtn{
    border:none;
    background-color:transparent;
    position:absolute;
    display:block;
    top:0;
    right:0;
}
.resetPassword{
    border:none;
    padding:0;
    color:red;
}
.sendEmailBtn{
    margin-top:10px;
}