<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>简历编辑器</title>
    <link href="css/index.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/resume.css">
    <link rel="stylesheet" href="css/editable-span.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/signUp.css">
    <link rel="stylesheet" href="css/share.css">
    <link rel="stylesheet" href="css/print.css" media="print">
</head>
<body>
<div class="page" id="app">
    <aside v-show="mode==='edit'">
        <div class="upper">
            <ul class="action">
                <li><button @click="onClickSave" class="button">保存</button></li>
                <li><button @click="shareVisible=true" class="button">分享</button></li>
                <li><button @click="print" class="button">打印</button></li>
                <li><button class="button">换肤</button></li>
            </ul>
        </div>
        <div class="down">
            <button v-if="currentUser.id" @click="onLogout" class="button">登出</button>
            <button v-else @click="showLogin()" class="button">登录</button>
        </div>
    </aside>
    <main>
        <div class="welcome">欢迎你  {{currentUser.email}}</div>
        <div class="resume">
            <h1>
                <editable-span :disabled="mode==='preview'" :value="displayResume.name" @edit="onEdit('name',$event)"></editable-span>
            </h1>
            <section>
                <p class="jobTitle">应聘职位：
                    <editable-span :disabled="mode==='preview'" :value="displayResume.jobTitle" @edit="onEdit('jobTitle',$event)"></editable-span>
                </p>
                <p class="profile">
                    <editable-span :disabled="mode==='preview'" :value="displayResume.birthday" @edit="onEdit('birthday',$event)"></editable-span>
                    |
                    <editable-span :disabled="mode==='preview'" :value="displayResume.gender" @edit="onEdit('gender', $event)"></editable-span>
                    |
                    <editable-span :disabled="mode==='preview'" :value="displayResume.email" @edit="onEdit('email', $event)"></editable-span>
                    |
                    <editable-span :disabled="mode==='preview'" :value="displayResume.phone" @edit="onEdit('phone', $event)"></editable-span>
                </p>
            </section>
            <section class="skills">
                <h2>技能</h2>
                <ul>
                    <li v-for="(item,index) in displayResume.skills">
                        <editable-span :disabled="mode==='preview'" :value="item.name" @edit="onEdit(`skills[${index}].name`,$event)" class="name" ></editable-span>
                        <div class="description">
                            <editable-span :disabled="mode==='preview'" :value="item.description" @edit="onEdit(`skills[${index}].description`,$event)"></editable-span>
                        </div>
                        <span class="remove" v-if="index>=2 && mode==='edit'" @click="removeSkill(index)">X</span>
                    </li>
                    <li class="addSkill" v-if="mode==='edit'">
                        <span @click="addSkill">添加一项技能</span>
                    </li>
                </ul>
            </section>
            <section class="projects">
                <h2>项目经历</h2>
                <ol>
                    <li v-for="(item,index) in displayResume.projects">
                        <header>
                            <div class="start">
                                <h3 class="name">
                                    <editable-span :disabled="mode==='preview'" :value="item.name" @edit="onEdit(`projects[${index}].name`,$event)"></editable-span>
                                </h3>
                                <div class="link">
                                    <editable-span :disabled="mode==='preview'" :value="item.link" @edit="onEdit(`projects[${index}].link`,$event)"></editable-span>
                                </div>
                            </div>
                            <div class="end">
                                <div class="keywords">
                                    <editable-span :disabled="mode==='preview'" :value="item.keywords" @edit="onEdit(`projects[${index}].keywords`,$event)"></editable-span>
                                </div>
                            </div>
                        </header>
                        <p class="description">
                            <editable-span :disabled="mode==='preview'" :value="item.description" @edit="onEdit(`projects[${index}].description`,$event)"></editable-span>
                        </p>
                        <span class="remove" v-if="index>=1 && mode === 'edit'" @click="removeProject(index)">X</span>
                    </li>
                    <li class="addProject" v-if="mode === 'edit'" @click="addProject">添加一项</li>
                </ol>
            </section>
        </div>
    </main>
    <div v-show="loginVisible" v-cloak class="login">
        <form @submit.prevent="onLogin" >
            <div class="title">
                <h2>登录</h2>
                <span @click="signUpVisible=true; loginVisible=false;">| 注册</span>
            </div>
            <button class="closeBtn" type="button" @click="loginVisible=false">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-Close"></use>
                </svg>
            </button>
            <div class="row">
                <label>邮箱</label>
                <input type="text" v-model="login.email">
            </div>
            <div class="row">
                <label>密码</label>
                <input type="password" v-model="login.password">
            </div>
            <div class="action">
                <button type="submit">提交</button>
                <button class="resetPassword" v-if="login.resetPasswordVisible" @click="resetPassword" type="button">忘记密码?</button>
            </div>
            <div class="message" v-html="login.responseMessage"></div>
            <button class="sendEmailBtn" type="button" v-if="login.verifyEmailBtnVisible" @click="verifyEmail">发送邮件</button>
        </form>
    </div>
    <div  v-show="signUpVisible" v-cloak class="signUp">
        <form @submit.prevent="onSignUp">
            <div class="title">
                <h2>注册</h2>
                <span @click="signUpVisible=false; loginVisible=true;">| 登录</span>
            </div>
            <button class="closeBtn" @click="signUpVisible=false">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-Close"></use>
                </svg>
            </button>
            <div class="row">
                <label>邮箱</label>
                <input  v-model="signUp.email" type="text">
            </div>
            <div class="row">
                <label>密码</label>
                <input v-model="signUp.password" type="password">
            </div>
            <div class="action">
                <button type="submit">提交</button>
            </div>
            <div class="message">{{signUp.responseMessage}}</div>
        </form>
    </div>
    <div v-show="shareVisible" class="share" v-cloak>
        <h3>请把下面的链接发送给面试官</h3>
        <div>
            <textarea readonly>{{shareLink}}</textarea>
        </div>
        <div @click="shareVisible=false" class="closeBtn">X</div>
    </div>
    <button class="exitPreview" @click="mode='edit'" v-if="mode==='preview'" v-cloak>退出预览</button>
</div>
<script src="//at.alicdn.com/t/font_648255_iudnkr9ybck57b9.js"></script>
<script src="../vendors/av-min.js"></script>
<script src="js/av.js" ></script>
<script src="../vendors/vue.js"></script>
<script src="./js/editSpan.js"></script>
<script src="./js/app.js"></script>

</body>
</html>