<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>简历编辑器</title>
    <link href="css/index.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/resume.css">
    <link rel="stylesheet" href="css/editable-span.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/signUp.css">
    <link rel="stylesheet" href="css/share.css">
    <link rel="stylesheet" href="css/print.css" media="print">
</head>
<body>
<div class="page" id="app">
    {{resume}}
    <aside v-show="mode==='edit'">
        <div class="upper">
            <ul class="action">
                <li><button @click="onClickSave" class="button">保存</button></li>
                <li><button @click="showShare" class="button">分享</button></li>
                <li><button @click="print" class="button">打印</button></li>
            </ul>
        </div>
        <div class="down">
            <button v-if="currentUser.objectId" @click="onLogout" class="button">登出</button>
            <button v-else @click="showLogin()" class="button">登录</button>
        </div>
    </aside>
    <resume @edit="onEdit" @updateResume="updateResume" v-bind:myresume="displayResume" :mode="mode" :current-user="currentUser"></resume>
    <login-dialog @login="login" @goto-sign-up-dialog="gotoSignUpDialog" @close-login-dialog="loginVisible=false;" v-show="loginVisible" v-cloak ></login-dialog>
    <sign-up-dialog @login="login" @goto-login-dialog="gotoLoginDialog" @close-sign-up-dialog="signUpVisible=false;" v-show="signUpVisible" v-cloak></sign-up-dialog>
    <share-dialog @close-share-dialog="closeShareDialog" :share-link="shareLink" v-show="shareVisible" class="share" v-cloak></share-dialog>
    <button class="exitPreview" @click="mode='edit'" v-if="mode==='preview'" v-cloak>退出预览</button>
</div>
<script src="//at.alicdn.com/t/font_648255_iudnkr9ybck57b9.js"></script>
<script src="../vendors/av-min.js"></script>
<script src="js/av.js" ></script>
<script src="../vendors/vue.js"></script>
<script src="./js/editSpan.js"></script>
<script src="./js/login.js"></script>
<script src="./js/signUp.js"></script>
<script src="./js/share.js"></script>
<script src="./js/resume.js"></script>
<script src="./js/app.js"></script>
</body>
</html>